.ipynb_checkpoints
*.Identifier
.DS_Store
notebooks/cv/fer2013
notebooks/cv/fer2013.tar.gz
notebooks/cv/emotions
notebooks/cv/emotions.zip
notebooks/cv/resent50.h5
notebooks/cv/simple-vgg.h5
data/people/charlie.zip
data/people/marie.zip
data/people/hanna.zip
data/emotions
.vscode/settings.json
